<%- include('partials/header') -%>
    <title>HOME</title>
</head>

<body>
    <nav class="navbar bg-success">
        <form class="container-fluid justify-content-start">
            <button class="btn bg-warning btn-outline-success me-2" type="button"><a class="dropdown-item" href="/login">Login</a></button>
            <div class="dropdown">
                <button class="btn bg-warning btn-outline-success me-2" type="button" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Register
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="/customer/register">User</a></li>
                    <li><a class="dropdown-item" href="/vendor/register">Vendor</a></li>
                    <li><a class="dropdown-item" href="/agent/register">Delivery Agent</a></li>
                    <li><a class="dropdown-item" href="/admin/register">Admin</a></li>
                </ul>
            </div>
        </form>
    </nav>
    <% newItems.map((item)=>{ %>
        <div class="card" style="width: 18rem; margin:3rem; display: inline-block;">
            <img src="<%= item.source %>" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title"></h5>
                <p class="card-text">
                    <%= item.description %>
                </p>
                <a href="#" class="btn btn-primary">ADD TO CART</a>
            </div>
        </div>
        <% }); %>


<%- include('partials/footer') -%>
            